body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-image: url("table.jpg");
    background-size: cover;
    font-weight: bold;
    color: black;
    text-align: center;
}

h1 {
    color: black;
    font-size: xxx-large;
}

div {
    background: goldenrod;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}


#score-el{
    font-size: xx-large;
}

#message-el {
    font-style: italic;
    font-size: larger;
}

#credits-el {
    font-family: monospace; 
    font-size: xx-large;
    color: rgb(0, 163, 0);
}

p {
    font-size: x-large;
    font-family: sans-serif;
}

button {
    padding: 10px;
    width: 150px;
    background: silver;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: larger;
    transition-duration: 0.2s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    background-color: darkgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}